<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<display-name>crm</display-name>
<welcome-file-list>
  <welcome-file>index.html</welcome-file>
</welcome-file-list>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.bjpowernode.crm.web.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <!--url-pattern填写的是：需要过滤谁？
        可以写以下几种形式：
        /*
        *.do
        /xxx/xxx.do
        通配符前面，不能有/：/xxx/*.do
        -->
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.bjpowernode.crm.web.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <!--不允许访问所有的.do和.jsp文件！其他CSS、图片类的无所谓-->
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <!--监听器配置，用来将数据字典存入全局作用域中-->
    <listener>
        <listener-class>com.bjpowernode.crm.web.listener.SysInitListener</listener-class>
    </listener>

    <!--用户模块-->
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.bjpowernode.crm.settings.web.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/settings/user/login.do</url-pattern>
  </servlet-mapping>
    
    <!--市场活动模块-->
    <servlet>
        <servlet-name>ActivityController</servlet-name>
        <servlet-class>com.bjpowernode.crm.activity.web.controller.ActivityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivityController</servlet-name>
        <url-pattern>/workbench/activity/getUserList.do</url-pattern>
        <url-pattern>/workbench/activity/saveActivity.do</url-pattern>
        <url-pattern>/workbench/activity/getActivity.do</url-pattern>
        <url-pattern>/workbench/activity/deleteActivity.do</url-pattern>
        <url-pattern>/workbench/activity/editActivity.do</url-pattern>
        <url-pattern>/workbench/activity/editActivityUpdate.do</url-pattern>
        <url-pattern>/workbench/activity/detail.do</url-pattern>
        <url-pattern>/workbench/activity/detailRemark.do</url-pattern>
        <url-pattern>/workbench/activity/deleteRemark.do</url-pattern>
        <url-pattern>/workbench/activity/saveRemark.do</url-pattern>
        <url-pattern>/workbench/activity/editRemark.do</url-pattern>
    </servlet-mapping>

    <!--线索模块-->
    <servlet>
        <servlet-name>ClueController</servlet-name>
        <servlet-class>com.bjpowernode.crm.activity.web.controller.ClueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClueController</servlet-name>
        <url-pattern>/workbench/clue/getUser.do</url-pattern>
        <url-pattern>/workbench/clue/saveClue.do</url-pattern>
        <url-pattern>/workbench/clue/getClue.do</url-pattern>
        <url-pattern>/workbench/clue/getDetail.do</url-pattern>
        <url-pattern>/workbench/clue/showClueActivity.do</url-pattern>
        <url-pattern>/workbench/clue/deleteClueActivityRelation.do</url-pattern>
        <url-pattern>/workbench/clue/getClueActivityRelation.do</url-pattern>
        <url-pattern>/workbench/clue/saveClueActivityRelation.do</url-pattern>
        <url-pattern>/workbench/clue/convert.do</url-pattern>
        <url-pattern>/workbench/clue/convertSearchAndShow.do</url-pattern>
        <url-pattern>/workbench/clue/clueConvert.do</url-pattern>
    </servlet-mapping>
    <!--交易模块-->
    <servlet>
        <servlet-name>TranController</servlet-name>
        <servlet-class>com.bjpowernode.crm.activity.web.controller.TranController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TranController</servlet-name>
        <url-pattern>/workbench/transaction/save.do</url-pattern>
        <url-pattern>/workbench/transaction/saveStage2Possibility.do</url-pattern>
        <url-pattern>/workbench/transaction/getContactPerson.do</url-pattern>
        <url-pattern>/workbench/transaction/getActivityByContact.do</url-pattern>
        <url-pattern>/workbench/transaction/getCustomerName.do</url-pattern>
        <url-pattern>/workbench/transaction/saveTransaction.do</url-pattern>
        <url-pattern>/workbench/transaction/searchTransaction.do</url-pattern>
        <url-pattern>/workbench/transaction/detail.do</url-pattern>
        <url-pattern>/workbench/transaction/getHistory.do</url-pattern>
        <url-pattern>/workbench/transaction/changeStage.do</url-pattern>
        <url-pattern>/workbench/transaction/getChart.do</url-pattern>
    </servlet-mapping>

</web-app>